@font-face {
    font-family: vazir;
    src: url(../font/Vazir.woff);
}

@font-face {
    font-family: vazir-bold;
    src: url(../font/Vazir-Bold.woff);
}

body {
    font-family: vazir;
    font-size: small;
}

/* Header */
/* user */
.user {
    background-image: url(../files/image/user.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 25px;
}