@font-face {
    font-family: vazir;
    src: url(../font/Vazir.woff);
}

@font-face {
    font-family: vazir-bold;
    src: url(../font/Vazir-Bold.woff);
}

body {
    font-family: vazir;
    font-size: small;
    box-sizing: border-box;
}

/* Header */
/* user */
.user {
    background-image: url(../files/image/user.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 25px;
}

/* Header Button */
.btn1 {
    background-image: url(../files/icon/caret-up-solid.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    rotate: -90deg;
}

.btn2 {
    background-image: url(../files/icon/bars-solid.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

/* Header Button Rotate */
.btn-rotate #nav-toggle-btn {
    transform: rotate(180deg);
}

/* Header title removing */
.header-brand .brand {
    background-color: white;
    color: black;
    width: 100px;
}


/* Navbar */
/* changing the navbar width */
.sidebar-closed #navbar {
    width: 3rem;
}

/* navbar Icons */
.dashboard {
    background-image: url(../files/icon/dashboard.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.users {
    background-image: url(../files/icon/users.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.list {
    background-image: url(../files/icon/list.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.gears {
    background-image: url(../files/icon/gears.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

/* Hide the sidebar's spans for when sidebar is closed */
.hidden-nav span {
    display: block;
}

.sidebar-closed .hidden-nav span {
    display: none;
}

/* Navbar btn */
.add-btn {
    background-image: url(../files/icon/add-menu-button.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

/* Remove the addbutton in navbar witch whenis closed */
.hidden-nav #add-btn {
    display: none;
}

/* Animation for dropdown menu*/
.dropdown {
    display: none;
}

.show {
    display: block;
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* hide the dropdown menu when navbar width is 56px */
.sidebar-closed ul.hidden-nav {
    display: none;
}

/* hover dropdown menu */
.hover-dropdown {
    display: none;
}

.sidebar-closed .group:hover .hover-dropdown {
    display: block;
    animation: slideLeft 0.5s ease;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translatex(20px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}